{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

        <main>

            <!----servicios---->

            <section class="container mt-5 mb-5">

                <h2 class="text-center serif">¿Por qué elegir nuestros Servicios?</h2>

                    <div class="row text-center mt-5 pe-5 ps-5 p-lg-0">

                        <div class="col-12 col-lg-4 mb-5 mb-lg-0">

                            <div>

                                <img class="icono" src="{% static 'imagenes/customer.png' %}">

                            </div>

                            <div class="mt-4">

                                <h5 class="serif verde">Atención personalizada</h5>

                                    <p class="sanserif">Una comunicación humana y amable, basada en la confianza y focalizada en sus necesidades.</p>

                            </div>

                        </div>

                        <div class="col-12 col-lg-4 mb-5 mb-lg-0">

                            <div>

                                <img class="icono" src="{% static 'imagenes/money.png' %}">

                            </div>

                            <div class="mt-4">

                                <h5 class="serif rosa">Honorarios razonables</h5>

                                    <p class="sanserif">Buscamos que el precio de nuestros servicios se adecúe a sus posibilidades.</p>

                            </div>

                        </div>

                            <div class="col-12 col-lg-4">

                                    <div>

                                        <img class="icono" src="{% static 'imagenes/quality.png' %}">

                                    </div>

                                    <div class="mt-4">

                                        <h5 class="serif verde">Excelente calidad</h5>

                                            <p class="sanserif">Nuestro compromiso y responsabilidad con sus tareas producen un trabajo prolijo y eficiente.</p>

                                    </div>

                    </div>

                        </div>

                    </div>

            </section>

            <!----quienes_somos---->

            <section class="quienes-somos text-center p-lg-5 pt-5 pb-5 mb-5">

                <div class="container">

                <div class="row justify-content-center">

                <div class="col-9 col-md-9 col-lg-8 text-white">

                    <h2 class="mb-4 serif">¿Quienes Somos?</h2>

                        <p class="sanserif">Nos conocimos en la sede de Paternal de la Facultad de Ciencias Económicas de la Universidad de Buenos Aires unos cuantos años atrás. Transitamos la profesión juntas pero laboralmente nos especializamos en caminos distintos, lo cual nos permite abarcar conocimientos variados del mercado.
                    Tiempo después, pudimos unir lo mejor de nosotras teniendo como principal objetivo ser el soporte y guía de trabajadores autónomos, negocios en formación y sociedades. Creemos que la única forma de avanzar se logra, no solo consiguiendo nuestras metas, sino trabajando todos a la par de forma ordenada, humana, llena de motivación y ansias de crecimiento.</p>
                
                </div>

            </div>

                </div>

            </section>

            <!----links_de_interes---->

            <section class="containter text-center">

                <h2 class="mb-5 serif">Links de Interés</h2>

                    <div class="w-auto">

                    <div class="flex ps-5 pe-5">

                        <div class="row">

                            <div class="col-sm-6 col-md-4 col-lg-3 mb-5"><a href="https://www.afip.gob.ar/sitio/externos/default.asp" target="_blank"><img class="img-fluid opacidad" src="{% static 'imagenes/logos/client-img-1.png' %}"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 mb-5"><a href="https://www.anses.gob.ar" target="_blank"><img class="img-fluid opacidad" src="{% static 'imagenes/logos/client-img-3.png' %}"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 mb-5"><a href="https://www.agip.gob.ar" target="_blank"><img class="img-fluid opacidad" src="{% static 'imagenes/logos/client-img-2.png' %}"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 mb-5"><a href="https://web.arba.gov.ar" target="_blank"><img class="img-fluid opacidad" src="{% static 'imagenes/logos/client-img-4.png' %}"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 mb-5"><a href="https://www.argentina.gob.ar/justicia/igj" target="_blank"><img class="img-fluid opacidad" src="{% static 'imagenes/logos/client-img-5.png' %}"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 mb-5"><a href="https://www.argentina.gob.ar/justicia/igj" target="_blank"><img class="img-fluid opacidad" src="{% static 'imagenes/logos/client-img-6.png' %}"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 mb-5"><a href="https://www.argentina.gob.ar/sssalud" target="_blank"><img class="img-fluid opacidad" src="{% static 'imagenes/logos/client-img-7.png' %}"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 mb-5"><a href="https://www.argentina.gob.ar/srt" target="_blank"><img class="img-fluid opacidad" src="{% static 'imagenes/logos/client-img-8.png' %}"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 mb-5"><a href="https://www.indec.gob.ar" target="_blank"><img class="img-fluid opacidad" src="{% static 'imagenes/logos/client-img-9.png' %}"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 mb-5"><a href="http://www.bcra.gov.ar" target="_blank"><img class="img-fluid opacidad" src="{% static 'imagenes/logos/client-img-10.png' %}"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 mb-5"><a href="https://www.argentina.gob.ar/economia" target="_blank"><img class="img-fluid opacidad" src="{% static 'imagenes/logos/client-img-11.png' %}"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 mb-5"><a href="https://www.consejo.org.ar" target="_blank"><img class="img-fluid opacidad" src="{% static 'imagenes/logos/client-img-12.png' %}"></a></div>
                            <div class="col-sm-6 col-md-6s col-lg-6 mb-5"><a href="https://www.argentina.gob.ar/trabajo" target="_blank"><img class="img-fluid opacidad" src="{% static 'imagenes/logos/client-img-13.png' %}"></a></div>
                            <div class="col-sm-6 col-md-6 col-lg-6 mb-5"><a href="https://www.argentina.gob.ar/produccion/exportar" target="_blank"><img class="img-fluid opacidad" src="{% static 'imagenes/logos/client-img-14.png' %}"></a></div>

                        </div>

                    </div>

                </div>

            </section>

            <!----cafe_virtual---->

            <section class="cafe-virtual text-center p-lg-5 pt-5 pb-5">

                <div class="container">

                    <div class="row justify-content-center">
    
                <div class="col-9 col-md-9 col-lg-8 text-white">

                <h2 class="mb-4 serif">Organicemos un Café Virtual</h2>

                    <p class="sanserif">Te invitamos a una reunión virtual y, cuando toda la situación vuelva a la normalidad, un café en nuestras oficinas ubicadas en Villa Luro y Flores, para que nos cuentes sobre tus necesidades y podamos trabajar en conjunto para obtener un plan de acción acorde a ellas.</p>

                </div>

            </div>

                </div>

            </section>

            <!----encontranos---->

            <section class="container-fluid text-center fondo_encontranos pe-5 ps-5">

                <div class="p-5 row">

                    <div class="col-md-6 col-sm-12 col-12 mb-5 mb-lg-0">

                        <div class="mb-4">

                            <img class="icono" src="{% static 'imagenes/mapa.png' %}">

                        </div>

                        <h5 class="serif rosa">Nuestra Ubicación</h5>

                            <p class="sanserif">Villa Luro, CABA, Argentina y <br> Flores, CABA, Argentina</p>

                    </div>

                    <div class="col-md-6 col-sm-12 col-12">

                        <div class="mb-4">

                            <img class="icono" src="{% static 'imagenes/telefono.png' %}">

                        </div>

                        <h5 class="serif verde">Números de Contacto</h5>

                            <p class="sanserif">15-2406-3261 <br> 11-2400-2703</p>

                    </div>        

                </div>

            </section>

        </main>

{% endblock %}