{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

        <section class="container p-5 my-5 border">

            <div class="row justify-content-center">

                <div class="row col-12 col-lg-6 text-center">

                    <div class="overflow-hidden">

                        <img src="{% static 'imagenes/carrusel1.jpeg' %}">

                    </div>

                </div>

                <div class="texto_servicios list-unstyled col-lg-6 text-center sanserif mt-5 mt-lg-0">

                    <div class="texto_servicios">

                        <h2 class="serif">Altas y Liquidación<br>de Impuestos</h2>

                                <li>Ingresos Brutos (Local y Convenio Multilateral).</li>
                                <li>Régimen General (IVA).</li>
                                <li>Régimen Simplificado (Monotributo).</li>
                                <li>Ganancias y Bienes Personales (personas físicas y jurídicas).</li>
                                <li>Regímenes de Información.</li>
                                <li>Abonos mensuales (actualización, revisión y seguimiento fiscal).</li>
                                <li>Regímenes de Recaudación</li>

                    </div>

                </div>

            </div>

        </section>

<!-----segunda_seccion_en_pc----->

        <section class="container p-5 my-5 border">

            <div class="row justify-content-center">

                <div class="row col-12 col-lg-6 text-center">

                    <div class="overflow-hidden">

                        <img src="{% static 'imagenes/carrusel2.png' %}">

                        </div>

                    </div>

                    <div class="texto_servicios list-unstyled col-lg-6 text-center sanserif mt-5 mt-lg-0">

                        <h2 class="serif">Asesoramiento Financiero</h2>
    
                                <li>Cómo empezar tu negocio.</li>
                                <li>Qué tener en cuenta para inscribirse impositivamente.</li>
                                <li>Cuáles son los mejores precios de venta.</li>
                                <li>Planificación de los costos.</li>
                                <li>Asesorías personalizadas.</li>
    
                    </div>

            </div>

        </section>

<!-----tercera_seccion----->

        <section class="container p-5 my-5 border">

            <div class="row justify-content-center">

                <div class="row col-12 col-lg-6 text-center">
                    <div class="overflow-hidden">
                        <img src="{% static 'imagenes/carrusel3.png' %}">
                        </div>
                    </div>

                <div class="texto_servicios list-unstyled col-lg-6 text-center sanserif mt-5 mt-lg-0">

                <h2 class="serif">Trámites Varios</h2>

                        <li>Alta y baja de regímenes e impuestos.</li>
                        <li>Ecommerce</li>
                        <li>Servicios de facturación e instructivos.</li>
                        <li>Trámites en AFIP y Rentas.</li>
                        <li>Regularizar la situación fiscal.</li>
                        <li>Personal de casas particulares.</li>
                        <li>Siradig</li>
                        <li>Recategorización.</li>
                        <li>Autónomos.</li>
                        <li>Revisión de alícuotas.</li>
                        <li>Recálculo de coeficientes.</li>
                        <li>Asesoramiento previsional.</li>
                        <li>Asistencia en inspecciones y requerimientos.</li>

                </div>

            </div>

        </section>
        
{% endblock %}